__pycache__/
*.py[cod]
*$py.class
pyvenv.cfg

.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
include/
bin/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.pybuilder/
target/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
